{% extends "nightout_user_base.html" %}

{% block title %}
Index
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h2>Welcome to NightOut</h2>
  <p>NightOut web interface helps discover and plan nights out</p>
</div>
  <div class="container">
	<p>This enables you to see pubs and clubs in your area and look at what nights are on.As well as browsing by location and popularity you would be able to search for pubs and clubs based on the types of alcohol they serve or music they play.</p>
	<p>The NightOut web interface has a android app component that allows you to track your night. This records the places you have been through the night in case you forget or to share the route with friends.</p>

<li>Explore allows you to find out events in your area that you might not have otherwise heard about through clever sorting alorithsm</li>
<li>Plan helps you find the events that you are interested in based on a number of filters</li>
<li>Drinks allows you to browse establishtmens and events that serve certain drinks</li>
<li>Music gives you the option of finding events that are playing particular generas of music</li>
<li>Establishments allows you to search locations to find the events that it holds</li>
  </div>
{% endblock %}