#map_canvas {
	height: 100%;
}

#footer-button {
	padding: 10px 0px;
}

#altitude {
	width:100%;
	text-align: center;
	box-shadow : none;
	border:none;
	background-color: transparent;
}

#altitude-slider {
	width: 30px;
	padding: auto;
}

.ui-slider .ui-slider-handle { 
	width: 36px;
}

.center-box {
	height: 200px;
	display: block;
	margin: 0px auto;
}

.outer-box {
	padding: 0px auto;
}