{% extends "nightout_company_base.html" %}

{% block subTitle %}
Company Portal
{% endblock %}

{% block sidebarTitle %}
Company Portal
{% endblock %}

{% block content %}
<div class="jumbotron" style="margin-bottom:10px">
  <div class="container">
    <h1>Company Portal</h1>
    <p>Use this area to submit information about your company</P>
  </div>
</div>
<div class="panel" style="margin:10px auto">
  <div class="container">
  	<h4 style="margin-bottom:0px">Establishment</h4>
    <p>Use establishment to edit your comapny details and setup your location</P>
  </div>
</div>
<div class="panel" style="margin:10px auto">
  <div class="container">
    <h4 style="margin-bottom:0px">Events</h4>
    <p>Use events to configure new events for users to attend and view the attendance of past events</P>
  </div>
</div>
<div class="panel" style="margin:10px auto">
  <div class="container">
    <h4 style="margin-bottom:0px">Promotions</h4>
    <p style="margin-bottom:0px">Use promotions to setup a promotion for an event you would like to increase attendance to</p>
    	<ul>
    		<li>Feature Event - ensure that your event is diplayed on the first page of events for a night</li>
    		<li>Direct Advertise - deliver adverts to users in a particular area to ensure efficient promotion</li>
    	</ul>
  </div>
</div>
{% endblock %}

{% block footer %}
Company Portal
{% endblock %}