{% extends "nightout_company_base.html" %}

{% block subTitle %}
Edit Establishment Location
{% endblock %}

{% block script %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
<script type="text/javascript" src="/static/js/nightout_company_edit_location.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Edit Establishment Location</h1>
</div>
<div class="panel" style="padding:10px">
<div id="map_canvas" style="height:500px"></div>
</div>
<div class="panel" style="padding:10px">
<p>Drop a pin on the map to set your location</p>
<a href="/company"><button type="submit" class="btn btn-primary">Save Location Data</button></a>
</div>
{% endblock %}